.MoviesCardList {
    margin: 70px auto 0;
    width: 1140px;
}

.MoviesCardList__yetBtn {
    display: block;
    width: 320px;
    height: 36px;
    margin: 60px auto 80px;
    background: none;
    border: 1px solid #424242;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

.MoviesCardList__yetBtn_visibility_hidden {
    visibility: hidden;
    margin-bottom: 54px;
}

@media screen and (min-width: 520px) and (max-width: 900px){  
    .MoviesCardList {
        margin: 60px auto 0;
        width: 708px;
    }
    
    .MoviesCardList__yetBtn {
        margin: 80px auto 80px;
    }    
}

@media screen and (max-width: 520px){  
    .MoviesCardList {
        margin: 28px auto 0;
        width: 300px;
    }
    
    .MoviesCardList__yetBtn {
        margin: 80px auto 80px;
    }

    .MoviesCardList__yetBtn {
        margin: 70px auto 99px;
        width: 240px;

    }
}