.MoviesCard {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2F2F2F;
}

.MoviesCard__info {
    margin: 0;
    padding: 0;
}

.MoviesCard__title {
    margin: 21px auto 13px 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    
}

.MoviesCard__duration {
    margin: 0 auto 26px 22px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #8B8B8B;
}

.MovieCard__like {
    margin: 0 auto 22px 22px;
    padding: 0;
    width: 14px;
    height: 12px;
    border: none;
    background: url(../../images/moviescard_like.svg)
}

.MovieCard__like_active {
    background: url(../../images/moviescard_like_active.svg)
}

.MovieCard__delete {
    margin: 0 auto 22px 22px;
    padding: 0;
    width: 14px;
    height: 12px;
    border: none;
    background: url(../../images/moviescard_delete.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.MoviesCard__thumbnail {
    margin: 6px;
    width: 220px;
    height: 122px;
}

@media screen and (min-width: 420px) and (max-width: 570px) {
    .MoviesCard {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column-reverse;
    }

    .MoviesCard__thumbnail {
        margin: 0;
        width: 100%;
        height: 100%;
    }
    
    .MoviesCard__info {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 83% 17%;
        grid-template-rows: repeat(2, 1fr);
    }
    
    .MoviesCard__title {
        margin: 14px auto 0 12px;
        font-size: 12px;
        line-height: 15px;
        
    }
    
    .MoviesCard__duration {
        margin: 6px auto auto 12px;
        padding-bottom: 13px;
    }
    
    .MovieCard__like {
        margin: 16px 16px auto auto;
        padding: 0;
        grid-column-start: -1;
        grid-column-end: -2;
        grid-row-start: 1;
    }
    
    .MovieCard__delete {
        margin: 16px 16px auto auto;
        padding: 0;
        grid-column-start: -1;
        grid-column-end: -2;
        grid-row-start: 1;
    }

}

@media screen and (max-width: 420px){  
    .MoviesCard {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column-reverse;
    }

    .MoviesCard__thumbnail {
        margin: 0;
        width: 300px;
        height: 168px;
    }
    
    .MoviesCard__info {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 250px 50px;
        grid-template-rows: repeat(2, 1fr);
    }
    
    .MoviesCard__title {
        margin: 14px auto 0 12px;
        font-size: 12px;
        line-height: 15px;
        
    }
    
    .MoviesCard__duration {
        margin: 6px auto auto 12px;
        padding-bottom: 13px;
    }
    
    .MovieCard__like {
        margin: 16px 16px auto auto;
        padding: 0;
        grid-column-start: -1;
        grid-column-end: -2;
        grid-row-start: 1;
    }
    
    .MovieCard__delete {
        margin: 16px 16px auto auto;
        padding: 0;
        grid-column-start: -1;
        grid-column-end: -2;
        grid-row-start: 1;
    }
}