.NotFound {
    margin: 0;
    width: 100%;
    height: 1vh;
}

.NotFound__title {
    margin: 0 auto;
    padding-top: 246px;
    width: 400px;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
    color: #FFFFFF;
}

.NotFound__description {
    margin: 5px auto 184px;
    width: 400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.NotFound__link {
    margin: 0 calc(50% - 21px) 60px;
    width: 42px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
}